@charset "utf-8";

/*formatação geral*/
*{
    margin: 0;
    padding: 0;
}
/*formatação do background*/
#conteiner{
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    background: black url(imagens/espaco.jpg) no-repeat center center;
    background-size: cover;
}


/*formatação do astronauta*/
#box{     
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;    
}
#box > img{    
    max-width: 300px;      
    max-height: 500px;
}